body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-right: 30px;
    
 
}

.login-container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 50px;
    box-shadow: 0 2px 15px rgba(62,44,36,5);
    text-align: left;
}

h2 {
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
    

    
}

.input-group {
    margin-bottom: 15px;
}


.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
   
}

input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    background: transparent;
    padding: 14px;
    border: 1px solid #807245;
    border-radius: 15px;
   
}

.input-group input {
    width: 82%;
    padding-right: 40px;
    background-color: white;

}

.password-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #807245;
    border-radius: 15px;
    padding-right: 0;
    padding: 0 ;
    box-sizing: border-box;
    height: 45px;
    background: white;
}

.password-wrapper input {
    flex-grow: 1;
    border: none;
    padding-right: 5px;
    background: white;
}

.password-wrapper:focus-within {
    border-color: #af8d84;
}

.password-wrapper .toggle {
    cursor: pointer;
    font-size: 16px;
    color: #777;
    margin-left: -30px;
    line-height: 1;
    padding: 0 10px 0 0;
    z-index: 10;
}

.btn {
    width: 100%;
    background: #cca878;
    border: 1px solid #cca878;
    padding: 14px;
    color: white;
    transition: all o.3s ease;
    font-weight: bold;
    border-radius: 15px;
    cursor:  pointer;
    margin-top: 20px;
    text-align: center;
}

.btn:hover {
    background: #b39163;
    border-color: #b39163;
    color: white;
    
}

.forgot {
    display: block;
    margin-top: 12px;
    color: black;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 5px;
    text-align: center;
    
}

.login-container p {
    text-align: center;
}

.register-btn {
   
    
    color: black;
    border: 1px solid #af8d84;
    border-radius: 15px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    font-weight:  bold;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    box-sizing: border-box;
    display: block;
    
}

.register-btn:hover {
    background-color: transparent;
    color: #cca878;
    border: 2px solid #cca878;
}

