body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background-color: #fac8cc;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 50px;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 25px;

}

.campo-grupo {
    text-align: left;
    margin-bottom: 20px;
  
    
}

label {
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin-bottom: 8px;
    
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid ;
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 15px;
    border: 1px solid #807245;
}
.btn-enviar {
    width: 100%;
    padding: 14px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
    border-radius: 20px;
    border: 1px solid #807245;
}

.btn-enviar:hover {
    background-color: #af8d84;
    
}
.texto-legal {
    font-size: 11px;
    color: #888;
    margin: 20px 0;
}

.btn-volver {
    margin-top: 30px;
    display: inline-block;
    background: none;
    border: 1px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s;
    border: 1px solid #807245;
}

.btn-volver:hover {
    background-color: #af8d84;
}