/*Barra de navegacion*/
.navbar-brand {
    font-family: 'Cormorant Garamond', serif; 
    font-weight: 700;       
    text-transform: uppercase; 
    letter-spacing: 2px;    
    font-size: 1.8rem;      
   background: linear-gradient(to right, #C5A059, #F2D1A8);
    -webkit-background-clip: text;
    color: transparent; /* Hace transparente la letra para que se vea el fondo dorado */
}

/* Botone principal dorado */
.btn-oro {
    background-color: #CCA878;
    color: #FFFFFF;   
    border: 1px solid #CCA878; 
    transition: all 0.3s ease;   
}

/* animacion */
.btn-oro:hover {
    background-color: #b39163;
    border-color: #b39163;
    color: #FFFFFF;
}

/*Boton secundario*/
.btn-outline-oro {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #CCA878;
}

/* Animacion */
.btn-outline-oro:hover {
    background-color: #CCA878;
    color: #FFFFFF;
    border: 2px solid #CCA878;
}

/*Tipografia*/
h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    margin-top: 150px;
    display: i;
}

/*Color Chocolate para los títulos*/
h2, h3, h5 {
    color: #3E2C24;
}


